* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #CBDFBD;
  color: #00120B;
  font-family: "Helvetica", "Arial", sans-serif;
}

.page {
  width: 700px;
  margin: 15px auto;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow: hidden;
  font-weight: normal;
}

.header {
  width: 700px;
  margin: 15px auto;
  padding-bottom: 10px;
  font-weight: bold;
  text-align: center;
  border-bottom: 5px dashed #16302b;
}

.experience {
  width: 375px;
  float: left;
  clear: both;
  padding-left: 20px;
  padding-right: 5px;
  border-right: 5px dashed #16302b;
}

.skills {
  width: 300px;
  float: right;
  padding-bottom: 5px;
  line-height: 30px;
}

.education {
  width: 300px;
  float: right;
  clear: right;
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 30px;
}

.footer {
  width: 700px;
  clear: both;
  margin: 15px auto;
  border-top: 5px dashed #16302b;
}

ul {
  list-style-type: circle;
  line-height: 25px;
  font-weight: lighter;
  margin-bottom: 5px;
}

h1 {
  width: 400px;
  margin: 20px auto;
  text-align: center;
  padding: 10px;
  background-color: #00120B;
  color: #F6F4D2;
  font-size: 50px;
  border-radius: 25px;
}

h2, h3, h4 {
  padding-top: 10px;
  padding-bottom: 5px;
  font-weight: bold;
}

h2 {
  width: 150px;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #00120B;
  color: #F6F4D2;
  border-radius: 25px;
}

p {
  padding-top: 5px;
  font-weight: lighter;
}

#contact {
  font-size: 20px;
  font-weight: bold;
}
